
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body {
    background: #525252;
}
a:hover {
    color: orangered;
}
.sitenav_link:hover, .sitenav_link:active {
    text-decoration:underline;
}
.lm-account_signin:hover, .lm-account_signin:active {
    text-decoration: none;
}
span.compare:hover, span.compare:active {
    color: orangered;
}
a.search-btn:hover, a.search-btn:active {
    border: 2px solid orangered;
}
i.oi:hover, i.oi:active {
    color: orangered;
}

#header-module {
    font-size: 0.875rem;
    line-height: 1.5;
    height: 100px;
    width: 100%;
}
.lm-header {
    position: relative;
    z-index: 10;
    height: 100px;
    padding-top: 18px;
    border-bottom: 4px solid red;
    background-color: #525252;
    line-height: 14px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
}
.lm-header_cont {
    height: 60px;
}
.lm-header_adjustable {
    display: flex;
    justify-content: space-evenly;
}
/*Header brand css*/
.lm-header_brand {
    display: inline-block;
    height: 54px;
    width: 50%;
    padding-left: 10px;
}
.lm-header_brand-icon {
    content: url(../apple-touch-icon57.png);
}
.lm-header_brand-content {
    vertical-align: middle;
}
.lm-header-arrow-cont {
    content: url(../edited-icon-72.png);
    display: inline-block;
    font-size: 18px;
    float: right;
}
.dropdown-menu {
    display: block;
    opacity: 10;
    animation: 0.5s fade-in ease-out;
}
.dropdown-menu collapse {
    display: none;
    opacity: 0;
    transition: 0.5s opacity ease-out;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/*Header nav css*/
.lm-header_nav {
    float: right;
    display: none;
    opacity: 10;
    animation: 0.5s fade-in ease-out;
}
    .lm-header_navdisplay {
        display: none;
        opacity: 0;
        transition: 0.5s opacity ease-out;
    }
.sitenav {
    margin: 0 15px 0 15px;
    padding-left: 100px;
}
.sitenav_list {
    margin: 0 0 0 0px;
    font-size: 0;
}
.sitenav_list, .subnav_list {
    padding: 0;
    margin: 10px 0 0 0;
}
.sitenav_item {
    display: inline-block;
    font-size: 14px;
    line-height: 1em;
}
.sitenav_link {
    display: inline-block;
    padding: 20px;
    color: red;
}

.sitenav_link-text {
    cursor: default;
}
.compare {
    height: 80px;
}
/*Header actions css*/
.lm-header_actions {
    float: left;
}
    .lm-header_actionsdisplay {
        left: 100%;
        position: sticky;
    }
.menu-btn {
    float: right;
    height: 60px;
    line-height: 14px;
    padding: 22px;
}
.menu-btn_icon {
    line-height: 1;
}
.search-btn {
    width: 40px;
    height: 40px;
    margin-top: 9px;
    margin-right: 25px;
    float: right;
    border: 2px dashed black;
}
.search-btn_icon {
    height: 36px;
    font-size: 20px;
    line-height: 30px;
}
.search-btn_icon .search-btn_icon--close {
    opacity: 1;
}
/*Header account css*/
.lm-header_account {
    display: inline-block;
    opacity: 10;
    animation: 0.5s fade-in ease-out;
}
    .lm-header_accountdisplay {
        display: none;
        opacity: 0;
        transition: 0.5s opacity ease-out;
    }
.lm-account_signin {
    padding: 24px 40px;
    margin-right: 10px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 10px;
    max-width: 100%;
}
/*Header brand wrapper css*/
.lm-header_brand-wrapper {
    width: 940px;
    margin: auto;
}
.lm-header_brand-select {
    width: 232px;
    height: auto;
    background: #ffffff;
    top: 102px;
    box-shadow: 1px 2px 4px 3px rgb(0 0 0 / 20%);
    position: absolute;
    display: none;
    padding: 0 17px 17px;
}
.lm-header_brand-select-list {
    padding-left: 0;
    overflow: hidden;
}
.lm-header_brand-select-item-line {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}
.lm-header_brand-select-link {
    color: #000000;
}
.lm-header_brand-select-item-link {
    padding-right: 10px;
    border-right: 8px solid #000000;
    display: block;
    min-height: 30px;
}
.circle-logo_icon .lm-header_brand-select-icon {
    font-style: normal;
    font-weight: 400;
}
.lm-header_brand-select-item:last-child {
    padding-bottom: 0px;
}
/*--if css*/
.lm-header_brand-select-item-link--if {
    border-color: red;
    font-size: 38px !important;
    line-height: 36px;
}
/*--le css*/
.lm-header_brand-select-item-link--le {
    border-color: #4cff00;
    font-size: 38px !important;
    line-height: 36px;
}
/*--lp css*/
.lm-header_brand-select-item-link--lp {
    border-color: #0094ff;
    font-size: 38px !important;
    line-height: 36px;
}

/*Subnav wrapper css*/
section.subnav {
    position: absolute;
}
nav {
    display: block;
}

.subnav-wrapper {
    position: relative;
    z-index: 20;
}
.subnav {
    display: flex;
    flex-direction: column;
    flex: 1;
    opacity: 1;
    transform: translateX(0) translateY(0);
    visibility: visible;
    z-index: 9;
    width: 250px;
    height: 100%;
    background: rgb(82 82 82 / 0.80);
    padding: 5px 10px 10px;
    box-shadow: rgb(0 0 0 / 34%) 0 3px 5px 0;
    position: static;
    animation: 0.5s fade-in ease-out;
    transition: 0.5s opacity ease-out;
}
.subnav_cont {
    position: relative;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: space-around;
    flex-basis: auto;
}
.subnav_item {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
}
.subnav_item>li {
    padding: 0;
}
.sitenav_item, .subnav_item {
    padding: 0;
    list-style: none;
}
.subnav_link {
    display: block;
    position: relative;
    top:0;
    padding-bottom: 8px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 1px solid grey;
    transition: color 200ms ease;
    -webkit-transition: color 200ms ease;
    color: #ffffff;
}
.subnav_icon {
    font-family: Icons;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    line-height: 1;
    position: absolute;
    right: 0;
    color: darkred;
}
.subcentre {
    background: #525252;
    padding-top: 15px;
    position: absolute;
    z-index: 12;
}
.subcentre_list {
    position: relative;
}
.subcentre_item {
    display: block;
    margin-bottom: 30px;
    float: none;
    text-align: left;
}

/*
    Topics Page navigation menu css
*/
.page-nav_link:hover, .page-nav_link:active {
    text-decoration: none;
}
.page-nav_wrapper {
    background: #ffffff;
    width: 100%;
    border-bottom: 1px solid #000000;
    position: relative;
    display: flex;
    justify-content: center;
    background: #525252;
}
.page-nav_content {
    padding: 11px 0px;
}
.ps-container {
    overflow: hidden;
}
.page-nav_body-wrapper {
    
}
.page-nav_body {
    margin: 0 auto;
    font-size: 0;
    overflow: hidden;
    float: left;
}
.page-nav_item {
    padding: 15px 5px;
    margin: -15px 0;
    text-align: center;
    font-style: italic;
    width: 115px;
    vertical-align: middle;
    line-height: 10px;
    display: inline-block;
}
.page-nav_item:first-child {
    border-left: none;
}
.page-nav_link {
    display: inline-block;
    font-weight: 700;
    font-size: 11px;
    line-height: 16px;
    color: #ffffff;
}
/*Header Search bar css*/
.top-search-header {
    position: absolute;
    left: 140px;
    width: 30%;
    display: inline-block;
    animation: 0.5s fade-in ease-out;
    transition: transform 0.5s opacity ease-out;
    transform-origin: 100% 50%;
}
.top-search-headerdisplay {
    display: none !important;
}
.top-search_fieldset {
    border-bottom: 1px solid #000000;
    height: 34px;
    margin-top: 10px;
}
.top-search_submit {
    position: absolute;
    overflow: visible;
    outline: none;
}
.top-search_fieldset input[type=text], .top-search_submit {
    background-color: transparent;
    color: #ffffff;
    border: none;
    padding: 5px;
}
.top-search_fieldset input[type=text] {
    font-size: 16px;
    line-height: 1em;
    width: 100%;
    height: 34px;
    box-shadow: none;
}


/*New changes*/
.lm-header_sideMenu {
    float: left;
}
    .lm-header_sideMenudisplay {
        float: left;
    }
