@inject ArticleService ArticlesService
@inject IModelTemplateCatalog ModelTemplateCatalog

<section>
    <div class="wrapper">
        <section class="island">
            <div class="content">
                <section class="content_item content_main">
                    <div class="u-mb">
                        <div class="feature">
                            <a class="feature_main" href="/news/110970/car">
                                <span class="feature_main-img"></span>
                                <article class="feature_body">
                                    <span class="flag">
                                        <span class="flag_body">
                                            <span class="feature_cat-wrapper">
                                                <span class="feature_cat">Motoring and Travel</span>
                                            </span>
                                            <span class="feature_main-title-wrapper">
                                                <span class="feature_main-title">
                                                    <strong class="feature_heading">Quick car changes that could save you thousands.</strong>
                                                </span>
                                            </span>
                                        </span>
                                    </span>
                                </article>
                                <span class="feature_outline"></span>
                            </a>
                            <ul class="feature_item-wrapper">
                                <li class="feature_item u-1/3-desk u-1/1-lap u-1/1-palm">
                                    <article>
                                        <a class="feature_item-link" href="/news/111407/investing-risk-savings-rates-stock-market-returns">
                                            <span class="flag flag-rev">
                                                <span class="flag_img">
                                                    <i class="subnav_icon icon-news-arrow-right"></i>
                                                </span>
                                                <span class="flag_body">
                                                    <span class="feature_item-title">
                                                        Why not investing is the riskier move
                                                    </span>
                                                </span>
                                            </span>
                                        </a>
                                    </article>
                                </li>
                                <li class="feature_item u-1/3-desk u-1/1-lap u-1/1-palm">
                                    <article>
                                        <a class="feature_item-link" href="/news/111407/investing-risk-savings-rates-stock-market-returns">
                                            <span class="flag flag-rev">
                                                <span class="flag_img">
                                                    <i class="subnav_icon icon-news-arrow-right"></i>
                                                </span>
                                                <span class="flag_body">
                                                    <span class="feature_item-title">
                                                        Why not investing is the riskier move
                                                    </span>
                                                </span>
                                            </span>
                                        </a>
                                    </article>
                                </li>
                                <li class="feature_item u-1/3-desk u-1/1-lap u-1/1-palm">
                                    <article>
                                        <a class="feature_item-link" href="/news/111407/investing-risk-savings-rates-stock-market-returns">
                                            <span class="flag flag-rev">
                                                <span class="flag_img">
                                                    <i class="subnav_icon icon-news-arrow-right"></i>
                                                </span>
                                                <span class="flag_body">
                                                    <span class="feature_item-title">
                                                        Why not investing is the riskier move
                                                    </span>
                                                </span>
                                            </span>
                                        </a>
                                    </article>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="latest">
                        <dashboard class="ng-isolate-scope">
                            <div>
                                <div class="ng-scope">
                                    <ul class="grid">
                                        <li class="grid_item u-mb ng-scope">
                                            <news-tile class="ng-isolate-scope">
                                                <div class="ng-scope">
                                                    <article class="news-tile news-tile-type-1">
                                                        <a class="news-tile_container" href="/news/110755/pet">
                                                            <span class="news-tile_img"></span>
                                                            <article class="news-tile_body">
                                                                <span class="feature_cat-wrapper">
                                                                    <span class="feature_cat">
                                                                        Rights, Scams and Politics
                                                                    </span>
                                                                </span>
                                                                <span class="feature_main-title-wrapper">
                                                                    <span class="feature_main-title">
                                                                        <span class="feature_heading">
                                                                            I was conned out of a £300 deposit for kittens'
                                                                        </span>
                                                                    </span>
                                                                </span>
                                                            </article>
                                                        </a>
                                                    </article>
                                                </div>
                                            </news-tile>
                                        </li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                        </dashboard>
                    </div>
                </section>
            </div>
        </section>
    </div>
</section>
<!--TODO : Place inside a templated component for reusability-->
<section>
    <div class="main_wrapper">
        <div class="main_island">
            <div class="main_content">
                <div class="main_content_item">
                    @if (AttributeFunctions.Count == 1)
                    {
                        <CardCollection Schema="@Schemas.Picture" CardClass="col-6" Models="@articles" CardAttributeFunctions="AttributeFunctions" @onclick="SearchArticle" style="@cssHeight"></CardCollection>
                    }
                </div>
            </div>
        </div>
    </div>
</section>


@code {
    Article[] articles;
    string cssHeight = "height: 120px;";

    protected override async Task OnInitializedAsync()
    {
        articles = await ArticlesService.GetArticlesAsync();
    }

    private List<(string, Func<int, object, object>)> AttributeFunctions = new List<(string, Func<int, object, object>)>()
    {
        ("card-index", (i, model) => i.ToString())
    };

    void SearchArticle()
    {
        //TODO : NavigationManager to attach to card attribute for search query to be place in url onclick event
    }
}