<nav class="page-nav_wrapper">
    <div class="page-nav_content ps-container">
        <div class="page-nav_body-wrapper">
            <ul class="page-nav_body">
                <li class="page-nav_item">
                    <a class="page-nav_link" href="/campaigns/best-buys" data-topic-id="best-buys">
                        Best Buys
                    </a>
                </li>
                <li class="page-nav_item">
                    <a class="page-nav_link" href="/topics/household-money">
                        Household Money
                    </a>
                </li>
                <li class="page-nav_item">
                    <a class="page-nav_link" href="/topics/banking-and-borrowing">
                        Banking & Borrowing
                    </a>
                </li>
                <li class="page-nav_item">
                    <a class="page-nav_link" href="/topics/mortgages-and-home">
                        Mortgages & Home
                    </a>
                </li>
                <li class="page-nav_item">
                    <a class="page-nav_link" href="/topics/saving-and-making-money">
                        Sasving & Making Money
                    </a>
                </li>
                <li class="page-nav_item">
                    <a class="page-nav_link" href="/topics/rights-scams-and-politics">
                        Rights, Scams & Politics
                    </a>
                </li>
                <li class="page-nav_item">
                    <a class="page-nav_link" href="/topics/motoring-and-travel">
                        Motoring & Travel
                    </a>
                </li>
                <li class="page-nav_item">
                    <a class="page-nav_link" href="/topics/investing-and-pensions">
                        Investing & Pensions
                    </a>
                </li>
                <li class="page-nav_item">
                    <a class="page-nav_link" href="/topics/savings-and-isas">
                        Savings & ISAs
                    </a>
                </li>
                <li class="page-nav_item">
                    <a class="page-nav_link" href="/topics/features">
                        Features
                    </a>
                </li>
            </ul>

            <!--Header Account-->
            <div class="@baseHeaderAccountClass">
                <a class="lm-account_signin" href="https://www.loveincorporated.com/">
                    | sign in |
                </a>
            </div>
        </div>
    </div>
</nav>

@code {
    string baseHeaderAccountClass = "lm-header_account";
}
