<!--Financial Times Design influence : https://www.ft.com-->

<!--Header-->
<nav id="header-module" class="">

    <header class="lm-header">
        <div class="lm-header_cont">
            <!--SubNavigation menu-->
            <div class="@SideSubNavCssClass">
                <a class="menu-btn">
                    <i class="menu-btn_icon oi oi-menu" @onclick="ToggleSideSubMenu"></i>
                </a>
            </div>

            <!--Header Actions-->
            <div class="@baseHeaderActionClass">
                <a class="menu-btn js-trigger--mobinav">
                    <i class="menu-btn_icon"></i>
                </a>
                <!--search-btn class to a tag-->
                <a class="search-btn">
                    @if (expandHeaderSearch)
                    {
                        <i class="search-btn_icon oi oi-x" @onclick="ToggleHeaderSearch"></i>
                    }
                    else
                    {
                        <i class="search-btn_icon oi oi-magnifying-glass" @onclick="ToggleHeaderSearch"></i>
                    }
                </a>
            </div>

            <!--Header search bar component-->
            <section class="@TopSearchCssClass">
                <div class="top-search_fieldset">
                    <buton class="top-search_submit" type="submit">
                        <i class="top-search_icon"></i>
                    </buton>
                    <input class="top-search_input" type="text" placeholder="Search lovemoney" />
                </div>
            </section>

            <!--Header Brand-->
            <HeaderBrand />

            <!--Header Navigation-->
            <div class="@baseHeaderNavigationClass">
                <nav class="sitenav">
                    <ul class="sitenav_list">
                        <li class="sitenav_item">
                            <a class="sitenav_link" href="/News">
                                News
                            </a>
                        </li>
                        <li class="sitenav_item">
                            <span class="sitenav_link sitenav_link-text compare">
                                Compare
                            </span>
                        </li>
                        <li class="sitenav_item">
                            <a class="sitenav_link" href="/QandA">
                                Q & A
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>
    </header>
    @if (expandSubNav)
    {
        <!--Compare hover sub-navigation menu-->
        <section class="subnav-wrapper">
            <nav class="subnav">
                <div class="subnav_cont">
                    <ul class="subnav_list">
                        <!--Subnav item, 9-->
                            <!--Credit cards-->
                        <li class="subnav_item">
                            <a class="subnav_link" href="/creditcards" @onmouseover="() => expandCreditCardsNav = !expandCreditCardsNav" @onmouseout="() => expandCreditCardsNav = false">
                                Credit Cards <i class="subnav_icon"></i>
                            </a>
                            <!--credit card extra options-->
                            @if (expandCreditCardsNav)
                            {
                                <div class="subcentre">
                                    <ul class="subcentre_list">
                                        <!--Subcentre item, 9-->
                                        <li class="subcentre_item">
                                            <a class="subnav_link" href="/creditcards/balance-transfer">
                                                Balance Transfer <i class="subnav_icon"></i>
                                            </a>
                                        </li>
                                        <li class="subcentre_item">
                                            <a class="subnav_link" href="/creditcards/purchases">
                                                Purchase <i class="subnav_icon"></i>
                                            </a>
                                        </li>
                                        <li class="subcentre_item">
                                            <a class="subnav_link" href="/creditcards/balance-transfer-purchases">
                                                Balance Transfer & Purchase <i class="subnav_icon"></i>
                                            </a>
                                        </li>
                                        <li class="subcentre_item">
                                            <a class="subnav_link" href="/creditcards/credit-building">
                                                Credit Building <i class="subnav_icon"></i>
                                            </a>
                                        </li>
                                        <li class="subcentre_item">
                                            <a class="subnav_link" href="/creditcards/bad-credit">
                                                Bad Credit <i class="subnav_icon"></i>
                                            </a>
                                        </li>
                                        <li class="subcentre_item">
                                            <a class="subnav_link" href="/creditcards/cashback">
                                                Cashback <i class="subnav_icon"></i>
                                            </a>
                                        </li>
                                        <li class="subcentre_item">
                                            <a class="subnav_link" href="/creditcards/rewards">
                                                Rewards <i class="subnav_icon"></i>
                                            </a>
                                        </li>
                                        <li class="subcentre_item">
                                            <a class="subnav_link" href="/creditcards/foreign-use">
                                                Foreign Use <i class="subnav_icon"></i>
                                            </a>
                                        </li>
                                        <li class="subcentre_item">
                                            <a class="subnav_link" href="/creditcards/money-transfer">
                                                Money Transfer <i class="subnav_icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            }
                        </li>
                        <!--Loans-->
                        <li class="subnav_item">
                            <a class="subnav_link" href="/loans" @onmouseover="() => expandLoanNav = !expandLoanNav" @onmouseout="() => expandLoanNav = false">
                                Loans <i class="subnav_icon"></i>
                            </a>
                            <!--Loan extra options-->
                            @if (expandLoanNav)
                            {
                                <div class="subcentre">
                                    <ul class="subcentre_list">
                                        <li class="subcentre_item">
                                            <a class="subnav_link" href="/loans/car-finance">
                                                Car Finance <i class="subnav_icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            }
                        </li>
                        <!--Savings-->
                        <li class="subnav_item">
                            <a class="subnav_link" href="/savings">
                                Savings <i class="subnav_icon"></i>
                            </a>
                        </li>
                            <!--Current Accounts-->
                            <p class="subnav_item">
                                <a class="subnav_link" href="/currentaccounts">
                                    Current Accounts <i class="subnav_icon"></i>
                                </a>
                            </p>
                            <!--Mortgages-->
                            <p class="subnav_item">
                                <a class="subnav_link" href="/mortgages">
                                    Mortgages <i class="subnav_icon"></i>
                                </a>
                            </p>
                            <!--Utilties-->
                            <p class="subnav_item">
                                <a class="subnav_link" href="/utilities">
                                    Utilities <i class="subnav_icon"></i>
                                </a>
                            </p>
                            <!--Insurance-->
                        <li class="subnav_item">
                            <a class="subnav_link" href="/insurance" @onmouseover="() => expandInsuranceNav = !expandInsuranceNav" @onmouseout="() => expandInsuranceNav = false">
                                Insurance <i class="subnav_icon"></i>
                            </a>
                            <!--Insurance extra options-->
                            @if (expandInsuranceNav)
                            {
                                <div class="subcentre">
                                    <ul class="subcentre_list">
                                        <li class="subcentre_item">
                                            <a class="subnav_link" href="/insurance/life-insurance">
                                                Life Insurance <i class="subnav_icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            }
                        </li>
                        <!--Investing-->
                        <li class="subnav_item">
                            <a class="subnav_link" href="/investing">
                                Investing <i class="subnav_icon"></i>
                            </a>
                            <div class="subcentre"></div>
                        </li>
                        <!--Money Transfer-->
                        <li class="subnav_item">
                            <a class="subnav_link" href="/moneytransfer" @onmouseover="() => expandMoneyTransferNav = !expandMoneyTransferNav" @onmouseout="() => expandMoneyTransferNav = false">
                                Money Transfer <i class="subnav_icon"></i>
                            </a>
                            <!--Money transfer extra options-->
                            @if (expandMoneyTransferNav)
                            {
                                <div class="subcentre">
                                    <ul class="subcentre_list">
                                        <li class="subcentre_item">
                                            <a class="subnav_link" href="/moneytransfer/send-money-abroad">
                                                Send Money Abroad <i class="subnav_icon"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            }
                        </li>
                    </ul>
                </div>
            </nav>
        </section>
    }
</nav>

<!--Page topic navigation menu-->
<TopicsMenu />

@code {
    bool expandHeaderSearch = false;
    bool expandSubNav = false;

    //Sub-navigation menu hover features
    private bool expandCreditCardsNav;
    private bool expandLoanNav;
    private bool expandInsuranceNav;
    private bool expandMoneyTransferNav;

    string baseTopSearchClass = "top-search-header";
    string TopSearchCssClass => baseTopSearchClass + (expandHeaderSearch ? "" : "display");

    string baseHeaderNavigationClass = "lm-header_nav";
    //string NavigationMenuCssClass => baseHeaderNavigationClass + (expandHeaderSearch ? "display" : "");

    string baseHeaderActionClass = "lm-header_actions";
    //string ActionCssClass => baseHeaderActionClass + (expandHeaderSearch ? "display" : "");

    string baseHeaderSubSideNavigation = "lm-header_sideMenu";
    string SideSubNavCssClass => baseHeaderSubSideNavigation + (expandHeaderSearch ? "display" : "");

    void ToggleHeaderSearch()
    {
        expandHeaderSearch = !expandHeaderSearch;
    }
    void ToggleHeaderSubNav()
    {
        expandSubNav = !expandSubNav;
    }
    void ToggleSideSubMenu()
    {
        expandSubNav = !expandSubNav;
    }
}