<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <!--Section one (brand, side-navigation)-->
      <div class="d-sm-inline-flex justify-content-start" style="padding-right: 3rem;">
        <div class="lm-header_brand">
          <a class="navbar-brand" [routerLink]="['/']">LoveMoneyAngularV2</a>
        </div>

        <div class="header-brand_menu">
          <button class="navbar-toggler" style="display: block; border: none;" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                  aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggleSideNav()">
            <span class="navbar-toggler-icon" style="display: flex; align-items: center; background: none; border: none;">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </span>
          </button>
        </div>
      </div>
      <!--Section two (navigation menu)-->
      <div class="navbar-collapse collapse d-sm-inline-flex" style="justify-content: space-evenly;" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/news']">News</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/compare']">Compare</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/qanda']">Q & A</a>
          </li>
        </ul>
      </div>
      <!--Section three (account signin, search functionality)-->
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
        <div class="header-account">
          <a class="header-account_signin nav-link text-dark">
            | sign in |
          </a>
        </div>
        <div class="header-search" style="height: 40px;">
          <a class="search-btn" style="height: 100%; display: flex; align-items: center;">
            <mat-icon aria-hidden="false" aria-label="Example home icon">search</mat-icon>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
