<nav id="header-module" class="">
    <header class="lm-header">
        <div class="lm-header_cont">
            <div class="-lm-header-brand">
                <a class="navbar-brand lm-header-brand" href="#">
                    <i class="lm-header-brand-icon">LoveMoney</i>
                </a>
                <a class="brandSelectIsOpen oi oi-arrow-thick-bottom">
                    <div>
                        <i></i><i></i>
                    </div>
                </a>
            </div>
            <div class="lm-header-nav">

            </div>
            <div class="lm-header-actions">

            </div>
            <div class="lm-header-account">

            </div>
            <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <NavLink class="nav-link text-dark" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>
                    </li>
                </ul>
            </div>
        </div>
    </header>
</nav>

@code {
    bool collapseNavMenu = true;

    string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";

    string NavMenuCssClass => baseMenuClass + (collapseNavMenu ? " collapse" : "");

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
